<%- include("./partials/header") %>
<h1>Clucks</h1>
<br>

<% // if (clucks.length) {
    // for (let i = 0; i < clucks.length; i++) { %>


<div class="container">

<div class="cluck-header">
<img class="avatar" src="<%= //cluck.img_url %> https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH1JIGZunaZl5TyZ4YvtuvSlw2pVHovChteny1iDMTR443c4cY" width="60px" height="60px">

<ul class="headerItems">
<li><%= //cluck.username %>Goose</li>
<li>•</li>
<li>Created <%= //cluck.created_at %>9999 years ago</li>
</ul>
</div>

<div class="cluckContent">
<p><%= //cluck.content %>Cluck content goes here</p>
</div>
</div>

<% //}
//}
%>

<%- include("./partials/footer") %>

